extends layout

block content
  #menuaccueil
      ul#myTopnav.topnav
        li.selected
          a(href='templates/accueil') Accueil
        li
          a(href='templates/tableaubord') Tableau de bord
        li
          a(href='templates/instructions') Instructions
  script(src="../javascripts/accueil.js")
