#menuaccueil
    ul#myTopnav.topnav
      li.selected
        a(routerLink='/accueil') Accueil
      li
        a(routerLink='/tableaubord') Tableau de bord
      li
        a(routerLink='/instructions') Instructions
