#menutableaubord
  ul#myTopnav.topnav
    li
      a(routerLink='/accueil') Accueil
    li.selected
      a(routerLink='/tableaubord') Tableau de bord
    li
      a(routerLink='/instructions') Instructions
section(*ngIf="result")
  h1#message  {{message}}
  p#resultat  Votre score est de {{result.bonnesReponses}}/{{result.questMax}}.
  p#note  Note en pourcentage: {{notedec}}%
  button.returnmenu((click)='goToDashboard()') Quitter
