#menuinstructions
  ul#myTopnav.topnav
    li
      a(routerLink='/accueil') Accueil
    li
      a(routerLink='/tableaubord') Tableau de bord
    li.selected
      a(routerLink='/instructions') Instructions
  h1  Instructions
  p.flotte
  em(style='line-height:375px;') Rendez-vous au Tableau de Bord pour acc&eacute;der aux tests rapides et examens.
