#menutableaubord
  ul#myTopnav.topnav
    li
      a(routerLink='/accueil') Accueil
    li.selected
      a(routerLink='/tableaubord') Tableau de bord
    li
      a(routerLink='/instructions') Instructions
#modal-box--open.modal-box
  a.modal-box__overlay(href='#close')
  .modal-box__content
    h2 Details des examens par sujet
    h5 HTML
    p#reussihtml Examens reussis: X
    p#totalhtml Examens totaux: X
    h5 CSS
    p#reussicss Examens reussis: X
    p#totalcss Examens totaux: X
    h5 Javascript
    p#reussijs Examens reussis: X
    p#totaljs Examens totaux: X
#tableaubord
  h2 Test rapide
  p Effectuez un test rapide de vos connaissances en Web.
  |  
  button.button((click)='checkQuestions()') Commencer!
  br
  .line-separator
  h2 Faire un examen
  p Choisissez le nombre de questions et le theme de l&apos;examen.
  form#myForm(name='myForm', (ngSubmit)='onSubmit()', #examForm='ngForm')
    | Theme: 
    select#subject(name='subject', [(ngModel)]="selectedTheme", required = '')
      option(*ngFor='let theme of themes', [value]='theme') {{theme}}
    br
    br
    |  Nombre de questions: 
    input(type='text', [(ngModel)]="nbQuestions", name='nbquestions', required='')
    br
    br
    |  
    button(type='submit', [disabled]='!examForm.form.valid') Commencer!
  h2 Ajouter une question
  form(name='myForm', action='ajouterquestion')
    input(type='submit', value='Ici!')    
aside#statsbox
  h2 Vos statistiques
  h4 Test rapide
  p#trapidereussi Tests rapides reussis: X
  p#trapideechoue Tests rapides effectues: X
  h4 Examens
  h5 Cumulatif
  p#moyennecumul Moyenne aux examens: X.X
  br
  |  
  a.button(href='#modal-box--open') D&eacutetails
  br
  br
  |  
  button.button((click)='resetStats()') Remise a zero
script(src="../javascripts/tableaubord.js")

