#menutableaubord
  ul#myTopnav.topnav
    li
      a(routerLink='/accueil') Accueil
    li.selected
      a(routerLink='/tableaubord') Tableau de bord
    li
      a(routerLink='/instructions') Instructions
#modal-box--open.modal-box(*ngIf="stats")
  a.modal-box__overlay(href='#close')
  .modal-box__content
    h2 Details des examens par sujet
    h5 HTML
    p#reussihtml Examens reussis: {{stats.examsReussiHTML}}
    p#totalhtml Examens totaux: {{stats.examsTotalHTML}}
    h5 CSS
    p#reussicss Examens reussis: {{stats.examsReussiCSS}}
    p#totalcss Examens totaux: {{stats.examsTotalCSS}}
    h5 Javascript
    p#reussijs Examens reussis: {{stats.examsReussiJS}}
    p#totaljs Examens totaux: {{stats.examsTotalJS}}
#tableaubord
  h2 Test rapide
  p Effectuez un test rapide de vos connaissances en Web.
  |  
  button.button((click)='checkQuestions()') Commencer!
  br
  .line-separator
  h2 Faire un examen
  p Choisissez le nombre de questions et le theme de l&apos;examen.
  form#myForm(name='myForm', (ngSubmit)='onSubmit()', #examForm='ngForm')
    | Theme: 
    select#subject(name='subject', [(ngModel)]="selectedTheme", required = '')
      option(*ngFor='let theme of themes', [value]='theme') {{theme}}
    br
    br
    |  Nombre de questions: 
    input(type='text', [(ngModel)]="nbQuestions", name='nbquestions', required='')
    br
    br
    |  
    button(type='submit', [disabled]='!examForm.form.valid') Commencer!
  h2 Ajouter une question
  button.button((click)='goToAddQuestion()') Ici!
aside#statsbox(*ngIf="stats")
  h2 Vos statistiques
  h4 Test rapide
  p#trapidereussi Tests rapides reussis: {{stats.tRapideReussi}}
  p#trapideechoue Tests rapides echoues: {{stats.tRapideFail}}
  h4 Examens
  h5 Cumulatif
  p#moyennecumul Moyenne aux examens: {{notedec}}
  br
  |  
  a.button(routerLink='#modal-box--open') Details
  br
  br
  |  
  button.button((click)='resetStats()') Remise a zero

