#menutableaubord
  ul#myTopnav.topnav
    li
      a(routerLink='accueil') Accueil
    li.selected
      a(routerLink='tableaubord') Tableau de bord
    li
      a(routerLink='instructions') Instructions
section
  h1#topic  HTML
  p#question Question?
  #a1.column(draggable='true', ondragstart='drag(event)')
    header A
    p Texte
  #a2.column(draggable='true', ondragstart='drag(event)')
    header B
    p Texte
  #a3.column(draggable='true', ondragstart='drag(event)')
    header C
    p Texte
  #a4.column(draggable='true', ondragstart='drag(event)')
    header D
    p Texte
  .answerfield(ondrop='drop(event)', ondragover='allowDrop(event)')
    p Glissez votre reponse ici.
  button#buttonNext.returnmenu([disabled]="true", (click)='nextQuestion()') Suivant
  br
  button.returnmenu((click)='goToDashboard()') Quitter
