#menutableaubord
  ul#myTopnav.topnav
    li
      a(routerLink='accueil') Accueil
    li.selected
      a(routerLink='tableaubord') Tableau de bord
    li
      a(routerLink='instructions') Instructions
section(*ngIf="question")
  h1#topic  {{question.theme}}
  p#question {{question.question}}
  form
    input(type='radio', name="answer", [(ngModel)]="choix", value="choix1")
    |  {{question.choix1}}
    br
    |  
    input(type='radio', name="answer", [(ngModel)]="choix", value="choix2")
    |  {{question.choix2}}
    br
    |  
    input(type='radio', name="answer", [(ngModel)]="choix", value="choix3")
    |  {{question.choix3}}
    br
    |  
    input(type='radio', name="answer", [(ngModel)]="choix", value="choix4")
    |  {{question.choix4}}
    br
    br
  button#buttonConfirm([disabled]="false", (click)='validateAnswer()') Valider
  p#answer Vous avez choisi {{chosenAnswer}}. {{result}}
  button#buttonNext.returnmenu([disabled]="true", (click)='nextQuestion()') Suivant
  br
  button.returnmenu((click)='goToDashboard()') Quitter
